<div class="container">
  <h1>Add Questions & Answers</h1>

  <%= simple_form_for [@quizz, @question], html: {multipart: true} do |f| %>
      <div class="card p-4 my-4">
        <%= f.input :title, label: 'Question 1', input_html: { name: "question[title1]" } %>
        <% 4.times do %>
          <%= f.fields_for :answers, Answer.new do |fa| %>
            <%= fa.input :title, label: 'Answer' %>
            <%= fa.input :status, as: :boolean, label: 'Good Answer' %>
          <% end %>
        <% end %>
      </div>
      <div class="card p-4 my-4">
        <%= f.input :title, label: 'Question 2', input_html: { name: "question[title2]" } %>
        <% 4.times do %>
          <%= f.fields_for :answers, Answer.new do |fa| %>
            <%= fa.input :title, label: 'Answer' %>
            <%= fa.input :status, as: :boolean, label: 'Good Answer' %>
          <% end %>
        <% end %>
      </div>
      <div class="card p-4 my-4">
        <%= f.input :title, label: 'Question 3', input_html: { name: "question[title3]" } %>
        <% 4.times do %>
          <%= f.fields_for :answers, Answer.new do |fa| %>
            <%= fa.input :title, label: 'Answer' %>
            <%= fa.input :status, as: :boolean, label: 'Good Answer' %>
          <% end %>
        <% end %>
      </div>
    <%= f.submit 'All Done', class: 'btn btn-success' %>
  <% end %>
</div>
